@font-face {
  font-family: 'Menlo';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://raw.githubusercontent.com/0xdhrv/fonts/main/font-files/Menlo.ttf") format("truetype");
}
